@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-md {
    text-shadow: -6px 2px 0 var(--tw-shadow-color);
  }
  .text-shadow-lg {
    text-shadow: -8px 8px 0 var(--tw-shadow-color);
  }
  .-text-shadow-lg {
    text-shadow: 8px -8px 0 var(--tw-shadow-color);
  }
  .font-outline-2 {
    -webkit-text-stroke: 0.5px var(--tw-shadow-color);
  }
  .font-outline-4 {
    -webkit-text-stroke: 1px var(--tw-shadow-color);
  }
  .font-outline-6 {
    -webkit-text-stroke: 1.5px var(--tw-shadow-color);
  }
  .font-outline-8 {
    -webkit-text-stroke: 2.5px var(--tw-shadow-color);
  }
}

@font-face {
  font-family: "Bossa";
  src: url(/Bossa-ExpandedBold.woff) format("woff");
}
@font-face {
  font-family: "Bossa Black";
  src: url(/Bossa-ExpandedBlack.woff) format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(/PlusJakartaSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans Bold";
  src: url(/PlusJakartaSans-Bold.woff) format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans SemiBold";
  src: url(/PlusJakartaSans-SemiBold.woff) format("woff");
}
